{% javascripts
'assets/jquery/dist/jquery.min.js'
'assets/bootstrap/dist/js/bootstrap.min.js'
'assets/fancybox/dist/jquery.fancybox.min.js'
'bundles/orncp/js/ui-nav.js'
'bundles/orncp/js/ui-toggle.js'
'bundles/orncp/js/app.js' output='compiled/orncp/main.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}