<meta charset="utf-8"/>
<title>CMS</title>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900&subset=latin-ext,vietnamese" rel="stylesheet">
{% stylesheets
'assets/bootstrap/dist/css/bootstrap.min.css'
'assets/font-awesome/css/font-awesome.min.css'
'assets/fancybox/dist/jquery.fancybox.min.css'
'bundles/orncp/css/animate.css'
'bundles/orncp/css/app.css'
'bundles/orncp/css/common.css' filter='cssrewrite' output='compiled/orncp/main.css' %}
<link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>