<!-- aside -->
<aside id="aside" class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">
        <div class="navi-wrap">
            <!-- nav -->
            <nav ui-nav class="navi clearfix">
                <ul class="nav">
                    <li>
                        <a href="{{ path('orn_cp_homepage') }}" class="auto">
                            <i class="glyphicon glyphicon-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- nav -->
        </div>
    </div>
</aside>
<!-- / aside -->