{% extends 'ORNCPBundle::layout.html.twig' %}
{% block main %}
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3 text-black">
            My Profile
        </h1>
    </div>
    <div class="wrapper-md">
        {% include 'ORNCPBundle::messages.html.twig' %}
        <div class="panel panel-default">
            <div class="m">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}