{% extends "ORNCPBundle::layout.html.twig" %}

{% block main %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3 text-black">
            Change Password
        </h1>
    </div>

    <div class="wrapper-md">
        {% include 'ORNCPBundle::messages.html.twig' %}

        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-info" type="submit" value="{{ 'change_password.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
