{% block vich_file_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_file_widget %}
    {% spaceless %}
        <div class="row">
            <div class="col-sm-6">
                {{ form_widget(form.file) }}
                {% if form.delete is defined %}
                    {{ form_row(form.delete) }}
                {% endif %}
            </div>
            <div class="col-sm-6 text-right">
                {% if download_uri is defined and download_uri %}
                    <a href="{{ download_uri }}" target="_blank">
                        <i class="fa fa-file-pdf-o fa-5x"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block vich_image_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_image_widget %}
    {% spaceless %}
        <div class="row">
            <div class="col-sm-6">
                {{ form_widget(form.file) }}
                {% if form.delete is defined %}
                    {{ form_row(form.delete) }}
                {% endif %}
            </div>
            <div class="col-sm-6 text-right">
                {% if download_uri is defined and download_uri %}
                    <a href="{{ download_uri }}" class="fancybox">
                        <img src="{{ download_uri | imagine_filter('mini') }}" alt="" class="img-rounded"/>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}